<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8" />
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="../_bootstrap/css/bootstrap.css">
    <style type="text/css">
      .jumbotron{
        width: 600px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }
      h3{
        text-align: center;
        margin-bottom: 30px;
      }
      .table{
        margin-top: 20px;
      }
      .form-control{
        margin-bottom: 5px;
      }
      .selecionado{
        background-color: yellow;
      }
      .negrito{
        font-weight: bold;
      }
      hr{
        border-color: #999;
      }
    </style>
    <script src="../_angular/angular.js"></script>
    <script src="../_angular/i18n/angular-locale_pt-br.js"></script>
    <script src="../_angular/angular-messages.js"></script>
    <script>
    var app = angular.module("listaTelefonica",["ngMessages"]);
    app.controller("listaTelefonicaCtrl", function($scope, $http){
      $scope.app = "Lista Telefonica";
      $scope.contatos = [];
      $scope.operadoras = [];

      var carregarContatos = function(){
        $http.get("http://localhost/study-angular/rbranas/contatos.josn").success(function(data){
          $scope.contatos = data;
        }).error(function(data, status){
          $scope.message = "Aconteceu um problema: " + data;
        });
      }
      carregarContatos();
      var carregarOperadoras = function(){
        $http.get("http://localhost/study-angular/rbranas/operadoras.json").success(function(data){
          $scope.operadoras = data;
        });
      }
      carregarOperadoras();

      $scope.adicionarContato = function(contato){
        $scope.contatos.push(angular.copy(contato));
        $http.post("http://localhost/study-angular/rbranas/contatos.php", contato).success(function(data){
          delete $scope.contato;
          $scope.contatoForm.$setPristine();
          //carregarContatos();
        });
      };
      $scope.apagarContato = function(contatos){
        $scope.contatos = contatos.filter(function(contato){
          if(!contato.selecionado){
            return contato;
          }
        });
      };
      $scope.isContatoSelecionado = function(contatos){
        return contatos.some(function(contato){
          return contato.selecionado;
        });
      };
      $scope.ordenarPor = function(campo){
        $scope.criterioDeOrdenacao = campo
        $scope.direcaoDaOrdenacao = ! $scope.direcaoDaOrdenacao;
      };
    });
    </script>
  </head>
  <body>
    <div ng-controller="listaTelefonicaCtrl">
      <div class="jumbotron">
        <h4>{{app}}</h4>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando?">
        {{message}}
        <table class="table" ng-if="contatos.length > 0">
          <tr>
            <th></th>
            <th><a ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th><a ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
            <th><a ng-click="ordenarPor('data')">Data</a></th>
          </tr>
          <tr ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <td>{{contato.data * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          </tr>
        </table>
        <hr/>
        <form name="contatoForm">
          <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
          <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
          <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome +' ( ' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy:'nome'">
            <option value="">Selecione uma operadora</option>
          </select>
        </form>
        <div ng-if="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
          <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o campo nome!
          </div>
          <div ng-message="minlength" class="alert alert-danger">
            Este campo deve ter no mínimo 10 caracteres.
          </div>
        </div>
        <div ng-if="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
          Por favor, preencha o campo telefone!
        </div>
        <div ng-if="contatoForm.telefone.$error.pattern" class="alert alert-danger">
          Este campo deve ter o formado DDDDD-DDDD.
        </div>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
      </div>
      <div ng-include="'footer.html'"></div>
    </div>
  </body>
</html>
